*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

nav {
  font-family: 'Arvo', serif;
  border-bottom: 2px solid orange; 
  height: 10vh;
  display: flex;    
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
}

.landing-page {
  height: 91vh;
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0,0,0,0.9)), url(./img/heroimg.jpg);
  background-size: cover;
  background-position: top;
}

.logo {
  font-size: 3rem;
  padding: 1.5rem;
}

.nav-links ul {
  font-size: 1.5rem;
  display: flex;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  padding: 2rem;
  display: block;
}

.menu-toggle {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 3.5rem;
  height: 2.5rem;
}

.menu-line {
  height: .3rem;
  width: 100%;
  background-color: white;
  border-radius: 1rem;
}

.heading-container{
  margin: 0 auto;
  color: white;
  /* border: 1px solid white; */
  width: 90vw;
  height: 80vh;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.heading-text {
  margin-top: 5rem;
  font-family: 'Arvo', serif;
  cursor:default;
}

.main-heading-primary {
  color: orange;
  font-size: 2rem;
  margin: 1rem 0;
}

.main-heading-secondary {
  font-size: 3rem;
  margin: 2rem 0;
}

.main-heading-tertiary {
  font-size: 3rem;
  margin: 2rem 0;
}

.main-heading-highlight {
  color: orange;
}

.heading-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30rem;
  height: 20rem;
  align-items: center;
  margin-top: 5rem;
}

.heading-buttons a {
  width: 20rem;
  text-align: center;
  border: 1.5px solid orange;
  padding: 1rem;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-family: 'Arvo', serif;
}

.about-page {
  margin: 0 auto;
  height: 100vh;
  background-color: #EEEDEF;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.about-page-header {
  display: flex;
  align-items: center;
  font-family: 'Arvo', serif;
  font-size: 2rem;
  width: 18rem;
  height: 5rem;
  margin: 20rem 0 0 7rem;
  border-left: 1rem solid orange;
}

.about-section-container {
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 8em;
  background-color: white;
  display: flex;
  width: 90vw;
  height: 60vh;
}

@media screen and (max-width: 600px) {
  .menu-toggle {
    display: flex;
  }
  .nav-links {
    width: 100%;
    height: 0;
    overflow: hidden;
    position: static;

  }
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links ul {
    width: 100%;
    flex-direction: column;
  
  }
  .nav-links li {
    border-top: 2px solid orange;
    text-align: center;
  }

  .nav-links li:last-child {
    border-bottom: 2px solid orange;
  }
  .nav-links li a {
    padding: 2rem;
  }
  .nav-active {
    background-color: black;
    margin-top: 7rem;
    height: 18.43rem;
    position: absolute;
    z-index: 100;
  }
  .heading-container{
    flex-direction: column;
  }
  .main-heading-primary {
    margin-top: 15rem;
    text-align:center;
  }
  .main-heading-secondary,
  .main-heading-tertiary{
    text-align: center;
  }
  .about-page-header{
    margin: 20rem auto 0 auto;
  }
}

