*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

nav {
  font-family: "Merriweather Sans", sans-serif;
  height: 10vh;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
  z-index: 3;
}

footer {
  height: 10vh;
  background-color: black;
  display: flex;
  justify-content: center;
}

.landing-page {
  height: 91vh;
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.9)),
    url(./img/heroimg.jpg);
  background-size: cover;
  background-position: top;
}

.logo {
  font-size: 3rem;
  padding: 1.5rem;
  font-family: "Nothing You Could Do", cursive;
}

.logo a {
  text-decoration: none;
  color: orange;
}

.nav-links ul {
  font-size: 1.8rem;
  display: flex;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  padding: 1.5rem;
}

.nav-link {
  position: relative;
  margin-right: 1.6rem;
  margin-left: 1.6rem;
}

.nav-link::before {
  content: "";
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  height: 2px;
  background-color: orange;
  transform: scaleX(0);
  transition: all 150ms ease-in-out;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

.nav-link:hover {
  color: orange;
}

.menu-toggle {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 3.5rem;
  height: 2.5rem;
}

.menu-line {
  height: 0.3rem;
  width: 100%;
  background-color: orange;
  border-radius: 1rem;
}

.heading-container {
  margin: 0 auto;
  color: white;
  /* border: 1px solid white; */
  width: 90vw;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.heading-text {
  margin-top: 5rem;
  font-family: "Arvo", serif;
  cursor: default;
}

.main-heading-primary {
  color: orange;
  font-size: 2rem;
  margin: 1rem 0;
}

.main-heading-secondary {
  font-size: 3rem;
  margin: 2rem 0;
}

.main-heading-tertiary {
  font-size: 3rem;
  margin: 2rem 0;
}

.main-heading-highlight {
  color: orange;
}

.heading-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30rem;
  height: 20rem;
  align-items: center;
  margin-top: 5rem;
}

.heading-buttons a {
  width: 20rem;
  text-align: center;
  border: 1px solid orange;
  padding: 1rem;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-family: "Merriweather Sans", sans-serif;
}

.btn-scroll-project::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: orange;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 150ms ease-in-out;
}

.btn-scroll-project:hover::before {
  transform: scaleY(1);
}

.btn-scroll-project {
  position: relative;
  z-index: 1;
  transition: color 150ms ease-in-out;
}

.btn-scroll-project:hover {
  color: black;
}

.about-page {
  margin: 0 auto;
  height: 100vh;
  background-color: #eeedef;
  display: flex;
  flex-direction: column;
}

.page-header {
  display: flex;
  align-items: center;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 2rem;
  width: 20rem;
  height: 5rem;
  margin: 12rem 0 0 7rem;
  border-left: 2rem solid orange;
}

.about-section-container {
  margin: 0 auto;
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  min-height: 50vh;
}

.about-info {
  /* border: 2px solid orange; */
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.205);

  background-color: white;
  padding: 2rem;
  width: 44vw;
  height: 100%;
  line-height: 1.7;
}

.about-heading {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  padding: 1rem;
}

.about-main {
  margin-top: 2rem;
  font-family: "Arvo", serif;
  font-size: 1.6rem;
  padding: 1rem;
}

.about-skills {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.205);
  background-color: white;
  padding: 2rem;
  width: 44vw;
  height: 100%;
  font-size: 2rem;
}

.skills-heading {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
}

.skills-list-head {
  padding: 1rem;
  font-size: 2rem;
  font-family: "Arvo", serif;
  color: orange;
}

.skill {
  line-height: 2;
  font-family: "Arvo", serif;
  font-size: 2rem;
}

.skill-one {
  margin-top: 2rem;
}

.project-page {
  background-color: white;
  height: auto;
  display: flex;
  flex-direction: column;
}

.project-container {
  margin: 5rem auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  grid-gap: 5rem;
}

.project {
  background-color: white;
  display: grid;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.205);
}

.project img {
  width: 100%;
}

.project-name {
  background-color: rgb(243, 180, 64);
}

.project-name h5 {
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 2rem;
  margin: 2rem auto;
}

.project-description {
  font-family: "Arvo", serif;
  font-size: 1.6rem;
  background-color: #eeedef;
  line-height: 1.7;
}

.project-description h5 {
  padding: 1rem;
}

.project-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(243, 180, 64);
  padding: 1rem;
}

.project-cta a {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  font-family: "Merriweather Sans", sans-serif;
}

.contact-page {
  height: 90vh;
  background-color: #eeedef;
}

.contact-page-anchor {
  height: 1rem;
  margin-bottom: 12rem;
}

.contact-page-header {
  display: flex;
  align-items: center;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 2rem;
  width: 20rem;
  height: 5rem;
  margin-left: 6rem;
  border-left: 2rem solid orange;
}

.form-container form {
  margin: 10rem auto;
  padding: 4rem;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.205);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 50vw;
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.form-input {
  width: 60%;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.form-input span {
  flex: 0 0 20%;
  font-size: 4rem;
  color: orange;
}

.form-input input {
  flex: 0 0 80%;
  font-family: "Arvo", serif;
  height: 80%;
  padding: 1rem;
  /* border: 1px solid orange; */
  border-radius: 5px;
}

.footer-container {
  width: 20vw;
  height: 100%;
  /* border: 1px solid white; */
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-container img {
  width: 50%;
}

.send-btn {
  color: white;
  background-color: transparent;
  width: 10rem;
  height: 3rem;
  font-family: "Merriweather Sans", sans-serif;
  border: 2px solid orange;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.send-btn:hover {
  color: black;
  background-color: orange;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }
  .nav-links {
    width: 100%;
    height: 0;
    overflow: hidden;
    position: static;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links ul {
    width: 100%;
    flex-direction: column;
  }
  .nav-links li {
    text-align: center;
    padding: 2rem;
  }
  .nav-links li a {
    padding: 1rem;
  }
  .nav-active {
    background-color: black;
    margin-top: 7rem;
    height: 19rem;
    position: absolute;
    z-index: 100;
  }
  .heading-container {
    flex-direction: column;
  }
  .main-heading-primary {
    margin-top: 10rem;
    text-align: center;
  }
  .main-heading-secondary,
  .main-heading-tertiary {
    text-align: center;
  }
  .page-header {
    margin: 10rem auto 0 auto;
  }
  .about-section-container {
    flex-direction: column;
  }
  .about-info {
    font-size: 1rem;
    width: 100%;
    height: auto;
    border: 0;
    /* border-bottom: 1px solid orange; */
    margin-bottom: 1rem;
  }
  .about-skills {
    width: 100%;
    height: auto;
    border: 0;
  }
  .about-main {
    font-size: 1.2rem;
  }
  .skills-list-head {
    font-size: 1.2rem;
  }
  .skill {
    font-size: 1.2rem;
  }
  .project-container {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
  .form-container form {
    width: 80vw;
  }
}
